<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="com.android.camera.action.CROP" />
            <data android:scheme="content"
                android:mimeType="image/*"/>
        </intent>
    </queries>
    <application>

        <activity
            android:name="com.peihua.selector.photos.PhotoPickerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@drawable/picker_app_icon"
            android:label="@string/picker_app_label"
            android:theme="@style/PickerMaterialTheme" />
        <activity
            android:name="com.peihua.selector.crop.UCropActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/PickerCropMaterialTheme" />
        <activity
            android:name="com.peihua.selector.crop.UCropMultipleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/PickerCropMaterialTheme" />
    </application>

</manifest>